<div class='row'>
  <%= link_to 'Добави ново лице към екипа', new_dashboard_member_path, class: 'warning button' %>
  <%= link_to 'Публична област', front_members_path, class: 'warning button' %>
</div>
<%= render @members %>
