<div class="media-object callout clearfix">
  <div class="media-object-section">
    <div class="thumbnail">
      <%= image_tag member.avatar(:medium) %>
    </div>
  </div>
  <div class="media-object-section">
    <h4><%= member.full_name %></h4>
    <h5><%= member.profession %></h5>
    <p><%= member.description %></p>
  </div>
</div>
