<div class='row'>
  <%= link_to 'Добави нова услуга', new_dashboard_offer_path, class: 'warning button' %>
  <%= link_to 'Публична област', front_offers_path, class: 'warning button' %>
</div>

<%= render @offers %>
