<div class='row'>
  <%= link_to t(:new), new_dashboard_offer_path, class: 'btn btn-success btn-lg' %>
  <%= link_to t(:public_area), offers_path, class: 'btn btn-success btn-lg' %>
</div>

<div class='row'>
  <%= render @offers %>
</div>
