<div class='row'>
  <div class='col-lg-12'>
    <h3><%= t(:book_an_hour) %></h3>
    <% if @booking.errors.messages.any? %>
      <div class='well'>
        <h4><%= t(:errors_on_save) %></h4>

        <ul>
          <% @booking.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<%= render 'form' %>
