<div class='row'>
  <div class="media-object callout clearfix">
    <div class='column large-8'>
      <div class="media-object-section">
        <h4><%= paragraph.title %></h4>
        <p><%= paragraph.body %></p>
      </div>
    </div>

    <div class='column large-4'>
      <%= link_to "Редактирай", edit_dashboard_paragraph_path(paragraph), class: 'success button' %>
      <%= link_to "Премахни", dashboard_paragraph_path(paragraph), method: :delete, data: { confirm: 'Are you sure?' } , class: 'alert button' %>
    </div>
  </div>
</div>
