<div class='row'>
  <%= link_to t(:new), new_dashboard_paragraph_path, class: 'btn btn-success btn-lg' %>
  <%= link_to t(:public_area), paragraphs_path, class: 'btn btn-success btn-lg' %>
</div>

<%= render @paragraphs %>
