<div class='row'>
  <div class='small-12 medium-6 large-6 column'>
    <p>Health &amp; beauty center Kava се намира на адрес: <b>София ул. "Люлин планина" 33</b></p>
    <p>Телефон: <b>+359 893 454 666</b></p>
  </div>

  <div class='small-12 medium-6 large-6 column'>
    <div id="map"></div>
  </div>

  <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXD9HFiiYIA9-LMRyt4PbiXmzaAtmwrtI&callback=initMap">
  </script>
</div>
